<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data ELV</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        *{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        *, body{
            font-family: 'Noto Sans', sans-serif;
            font-size: 16px;
        }
        .container{
            text-align: center;
        }
        .logs li{
            font-size: 13px;
        }
        
    </style>
    <%- include('modules/features-header'); %>
</head>

<body>

    <div class="logs">
        <% logData.forEach(function(log){ %>
            <li><%= log.time %> | <% if(log.status=="ADD") { %><strong style="color:rgb(0, 129, 24);"><%= log.status %></strong> <% } else { %> <%= log.status %> <% } %> | <%= log.name %> | <%= log.content.substring(log.content.length - 8) %></li>
        <% }); %>
    </div>

    <%- include('modules/features'); %>

</body>

</html>